# typo
alias snv=svn
alias Grep=grep

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# List all files colorized in long format
alias ls="ls -Fh --color"
alias ll="ls -Flv --color"
alias la="ls -aFlv --color"
alias lh=ll

# Always enable colored `grep` output
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# IP addresses
alias localip="ipconfig getifaddr en0"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# Gzip-enabled `curl`
alias gurl='curl --compressed'

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Canonical hex dump; some systems have this symlinked
command -v hd > /dev/null || alias hd="hexdump -C"

# OS X has no `md5sum`, so use `md5` as a fallback
command -v md5sum > /dev/null || alias md5sum="md5"

# OS X has no `sha1sum`, so use `shasum` as a fallback
command -v sha1sum > /dev/null || alias sha1sum="shasum"

# ROT13-encode text. Works for decoding, too! ;)
alias rot13='tr a-zA-Z n-za-mN-ZA-M'

# URL-encode strings
alias urlencode='python2 -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# fix tmux & vi color issue: http://stackoverflow.com/questions/10158508/lose-vim-colorscheme-in-tmux-mode
# alias tmux="TERM=screen-256color-bce tmux"

alias cnpm="npm --registry=https://registry.npmmirror.com --cache=$HOME/.npm/.cache/cnpm --disturl=https://npmmirror.com/mirrors/node --userconfig=$HOME/.cnpmrc"

alias i="vi"

# alias for `pbcopy` and `pbpaste`
if grep -iq "microsoft" /proc/sys/kernel/osrelease; then
  # WSL environment
  if command -v powershell.exe &> /dev/null; then # Check if powershell is available
    alias pbcopy='iconv -f utf-8 -t gbk | clip.exe'
    alias pbpaste='powershell.exe -Command "Get-Clipboard"'
  fi
  alias open='explorer.exe .'
elif [[ "$OSTYPE" == "linux-gnu" ]]; then
    # linux environment, check for xclip or wl-clipboard
    if command -v xclip &> /dev/null; then
        alias pbcopy='xclip -selection clipboard'
        alias pbpaste='xclip -selection clipboard -o'
    elif command -v wl-paste &> /dev/null; then
        alias pbpaste='wl-paste'
        alias pbcopy='wl-copy'
    fi
fi
