{
  "indent": 2,
  "globals": {
    "$": true
  },
  "rules": {
    "quotes": [2, "single"]
  },
  "ecmaFeatures": {
    "forOf": true,
    "templateStrings": true,
    "arrowFunctions": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "restParams": true,
    "spread": true,
    "destructuring": true,
    "generators": true,
    "modules": true,
    "classes": true,
    "blockBindings": true
  }
}
