[user]
	name = ichuan
	email = iyanchuan@gmail.com
[core]
	editor = vim
[alias]
	co = checkout
	ci = commit
	st = status
	di = diff
	br = branch
	cl = clone
  logs = log --graph --oneline --all --abbrev-commit --decorate
  lastchange = log -p --follow -n 1
[push]
	default = simple
[diff]
	tool = vimdiff
